name: Update Domar Audit
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  run-audit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
      - name: Install Libs
        run: pip install pandas pandas-datareader plotly python-dotenv
      - name: Execute
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
        run: python report_gen.py
      - name: Commit Files
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add domar_audit.csv index.html
          git commit -m "Audit update: $(date)" || exit 0
          git push