name: Update Domar Report

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 8 * * *' # Runs daily at 08:00 UTC
  workflow_dispatch:      # Allows you to click "Run workflow" manually

jobs:
  build:
    runs-on: ubuntu-latest
    
    # These permissions are mandatory for the script to "write" the website branch
    permissions:
      contents: write
      pages: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install pandas plotly pandas_datareader python-dotenv

      - name: Run Report Generator
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
        run: python report_gen.py

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          # Change the line below to your custom domain if ready, 
          # otherwise leave it commented out with a #
          # cname: domar.yourdomain.com